
<div *ngIf="diplome">
    <h2><span jhiTranslate="jhipsterApp1App.diplome.detail.title">Diplome</span> {{diplome.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp1App.diplome.libelleFr">Libelle Fr</span></dt>
        <dd>
            <span>{{diplome.libelleFr}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp1App.diplome.libelleAr">Libelle Ar</span></dt>
        <dd>
            <span>{{diplome.libelleAr}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'diplome-my-suffix/'+ diplome.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
